*.tgz
.metadata
.DS_Store
my.settings.gradle
build/
build-tmp/
/out/
.gradle/
/.idea
/.idea.bk
/codebase-manual/out
/classes
codebase.iws
codebase.ipr
codebase-gen.ipr
codebase-gen.iws
*.iml
*.idea
reports/
ansdk/
/data/
.sonar/
thirdparty
**/out
dist/
appserver-uploaded-files
uploads/

# swap files
*.swp
*.swo
